{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <title>Clima Agora</title>
  <link rel="stylesheet" href="{% static 'style/home.css' %}" />
  <link rel="icon" href="./static/img/sun.png" type="image/png">
  <script src="{% static 'scripts/fade.js' %}"></script>
</head>

<body>
  <div class="bigwrapper" id="bigwrapper">
    <form method="get">
      <input type="text" name="cidade" placeholder="Digite uma cidade" required />
      <button type="submit"><img style="width:32.4px" src="{% static 'img/search.png' %}" /></button>
    </form>

    {% if clima %}
    {% if clima.erro %}
    <p>{{ clima.erro }}</p>
    {% else %}
    <div class="card" id="card">
      <h2 style="font-size:55px; color:white">{{ clima.cidade }}</h2>

      {% if 'nublado' in clima.descricao|lower %}
        <img style="width:100%" src="{% static 'img/cloudy.png' %}" />
      {% elif 'névoa' in clima.descricao|lower %}
        <img style="width:90%" src="{% static 'img/fog.png' %}" />
      {% elif 'nuvens dispersas' in clima.descricao|lower %}
        <img style="width:100%" src="{% static 'img/cloudy.png' %}" />
      {% elif 'algumas nuvens' in clima.descricao|lower %}
        <img style="width:100%" src="{% static 'img/cloudy.png' %}" />
      {% elif 'pouca neve' in clima.descricao|lower %}
        <img style="width:70%" src="{% static 'img/snowy.png' %}" />
      {% elif 'céu limpo' in clima.descricao|lower %}
        <img style="width:80%" src="{% static 'img/sun.png' %}" />
      {% elif 'chuva leve' in clima.descricao %}
        <img style="width:70%" src="{% static 'img/raining.png' %}" />
      {% elif 'chuva moderada' in clima.descricao %}
      <img style="width:70%" src="{% static 'img/raining.png' %}" />
      {% elif 'trovoadas' in clima.descricao %}
        <img style="width:70%" src="{% static 'img/lightingcloud.png' %}" />
      {% endif %}

      <p style="color:white;font-size:20px;">{{ clima.descricao}}</p>
      <p style="font-size:60px; color:white">{{ clima.temperatura|floatformat:0 }}°C</p>

      <div style="display:flex;justify-content: space-around;color: white;">
        <P>{{ clima.data }}</P>
        <P>{{ clima.hora }}</P>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</body>
</html>