*{
    transition: 1s;
    font-family: "Monaspace Neon", ui-monospace, SFMono-Regular,
    SF Mono, Menlo, Consolas, Liberation Mono, monospace  ;
}

a{
    display: flex;
    background-color: rgb(255, 187, 0);
    text-decoration: none;
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

body{
    margin: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
    10deg,
    hsl(254deg 100% 22%) 0%,
    hsl(239deg 63% 33%) 7%,
    hsl(229deg 65% 38%) 17%,
    hsl(222deg 65% 44%) 27%,
    hsl(217deg 64% 50%) 38%,
    hsl(214deg 80% 57%) 50%,
    hsl(211deg 100% 64%) 60%,
    hsl(210deg 100% 69%) 70%,
    hsl(210deg 100% 74%) 78%,
    hsl(209deg 100% 80%) 85%,
    hsl(208deg 100% 85%) 92%,
    hsl(206deg 99% 90%) 96%,
    hsl(205deg 100% 96%) 100%
  );
}

p{
    margin: 0px;
}

.bigwrapper{
    width: 350px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 
    0 80px 32px rgba(0, 0, 0, 0.1),
    inset 0 2px 0 rgba(255, 255, 255, 0.5),
    inset 0 -4px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 1px 1px rgba(255, 255, 255, 0.215);
}

.fade-in {
  opacity: 1;
}

.top{
    display: block;
    justify-self: center;
    align-items: center;
    padding: 22px;
    width: 90%;
}
